@font-face {
  font-family: 'brandon_grotesque';
  src: url(fonts/Brandon_med.otf);
}

@font-face {
  font-family: 'bodoni';
  src: url(fonts/BodoniFLF-Roman.ttf);
}

html, body, header {
  min-height: 100% !important;
  height: 100%;
}

body {
  background-color: #edf3ed;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* global */
.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

/* navbar */
header {
  float: left;
  margin: 10px 30px;
}

header #logo {
  color: #002658;
  font-family: brandon_grotesque;
  margin: 0;
  padding: 0;
}

header nav {
  margin: 0;
}

header li {
  display: block;
  font-family: brandon_grotesque;
  padding: 5px 0;
  text-transform: uppercase;
}

header li span {
  cursor: pointer;
}

header li span:hover, header a:hover {
  color: #d0b33a;
  text-decoration: none;
}

header a {
  color: #002658;
  text-decoration: none;
}

header .dropdown {
  padding: 0 10px;
  display: none;
}

 .dropdown li{
  color: #002658;
  font-family: bodoni;
}

/* gallery */

#gallery {
  float: right
  margin: 20px;
}

#gallery .photo-col {
  margin-top: 20px;
}

#gallery img {
  margin: 10px 0 10px 0;
  width: 100%;
}
